<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com\e055.js" crossorigin="yikyak"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
  <title><%= title %></title>
	<link 
  id="favicon" 
  rel="icon"
  href="/assets/annonymous-favicon.png"
  type="image/png" 
  sizes="32x32"
	>
