<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<main>
  <h1><%= user ? `Welcome - ${user.profile.name}` : "Tap the Sign-in Button above" %></h1>
</main>
<%- include('./partials/footer') %>
