.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vh;   
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.container td:nth-child(1) {
  width: 150px;
  padding-left: 30px;
  font-size: 20px;
}

.container td:nth-child(2) {
  width: 33%;
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
}

.container td:nth-child(3) {
  width:66%;
  font-size: 35px;
  font-size: 20px;
}

.container td:nth-child(4) {
  width: 200px;
  min-width: 100px;

}

.container td:nth-child(5) {
  width: 200px;
  min-width: 100px;
}

.container button {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  background-color: #d9d4d4;
}

.container a:hover, button:hover {
  background-color: rgb(102, 197, 154);
}

.row {  
  height: calc(15vh - 5px);
}

.reply-tag a {
  background-color: #b7b1b1;
  text-decoration: none;
  font-size: 25px;
}
