table {
  font-size: 30px;      
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 0, 5px, 0, 0 rgb(180, 31, 31);
  padding: 8px;
  text-align: center;
}
th {
  background-color: rgb(244, 244, 244);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container td:nth-child(1) {
  min-width: 250px;
}

.container td:nth-child(2) {
  min-width: 500px;
}

.container td:nth-child(3) {
  min-width: 100px;
}

.container td:nth-child(4) {
  min-width: 100px;
}

.container td:nth-child(5) {
  min-width: 75px;
}

.container a, button {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;
}

.container a:hover, button:hover {
  background-color: rgb(53, 194, 131);
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.row {  
  height: calc(15vh - 5px);
  padding: 20px;
  border: 1px solid #1a0606;
  border-radius: 5px;
}
