#content-textarea {
  width: 250px; 
  height: 150px;
}

#reply-form > button {
  font-size: 25px;
  width: 150px;
  margin-bottom: 24px;
  background-color: rgb(146, 157, 152);
}
#reply-form > button:hover {
  background-color: rgb(53, 194, 131);
}
