<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/yaks/forms.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/yaks" method="POST">
  <label for="new-form"></label>
  <textarea name="content" 
    class="form-control form-control-dark"
    id="textera-post"
    placeholder="Enter Messge Here..."
    autocomplete="off"
    required
  ></textarea>
  <button type="submit">POST YAK</button>
  </form>
</main>
<%- include("../partials/footer") %>