<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/yaks/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/yaks" method="POST">
    <label class="msg" for="message-input">Message:</label>
    <textarea name="message" 
      class="form-control form-control-dark"
      id="content-textarea"
      placeholder="What's on your mind?"
      autocomplete="off"
      required
      style="font-size: 20px;"
    ></textarea>
    <button type="submit">POST YAK</button>
  </form>
</main>

<%- include("../partials/footer") %>

